* {
  padding: 0;
  margin: 0;
}
body {
  background-color: rgb(143, 37, 12);
  text-align: center;
}
h1 {
  font-size: 45px;
  margin-top: 5rem;
}
.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.5vmin;
}
.box {
  width: 18vmin;
  height: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgb(0, 0, 0, 0.25);
  font-size: 9vmin;
  color: #000000;
  background-color: #ffded6;
}
#resetBtn {
  padding: 1rem;
  width: 12rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  background-color: rgb(255, 128, 10);
  box-shadow: 0rem 0.2rem 0 rgba(169, 79, 5, 0.95);
}
#new_button {
  padding: 1rem;
  width: 12rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  background-color: #ff800a;
  box-shadow: 0rem 0.2rem 0 rgba(169, 79, 5, 0.95);
}
.msg_container {
  height: 100vmin;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}
#msg {
  font-size: 3rem;
}
.hide {
  display: none;
}
